<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="UTF-8">
		<title>免费看房</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="js/flexible.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="css/mui.picker.min.css" />
		<link rel="stylesheet" type="text/css" href="css/css.css" />
		<link rel="stylesheet" type="text/css" href="css/mianfei.css" />
		<script src="https://cdn.bootcss.com/babel-polyfill/6.23.0/polyfill.min.js"></script>
	</head>


	<style type="text/css">
		.mui-scroll-wrapper{
			top: 1.5rem;
		}
	</style>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-arrowleft mui-pull-left c-f"></a>
			<h1 class="mui-title">免费看房</h1>
		</header>

		<div class="pullrefresh mui-scroll-wrapper">
			<div class="mui-scroll">

				<div class="mui-content huikuan mui-table-view a-href" id="app">

					<!--<div style="width: 100%;height: 30px;background-color: aqua"  @click="godetai()">-->
					  	<!--<span> sdfasdf {{url}}</span>-->
					<!--</div>-->

					<!--<div v-for="item in dat">-->
						<!--{{item.title}}-->
					<!--</div>-->

					<!--{{message}}-->

					<!--@click="godetai(item.id)"-->
					<div class="bbbb" v-for="item in dat" style="width: 100%" >

						<div class="lists b-f" >
						<div class="lists_title">
							<p>{{item.title}}</p>
						</div>
						<div class="lists_date clear">
							<div class="lists_images_left ">
								<img src="images/shijian.png" />
								<!--<span id="countdown">4天7小时32分54秒{{item.start_time}}</span>-->
								<!--<span class="countdown" >{{item.start_time | daoji}}</span>-->
								<span class="countdown" >{{(item.start_time - cur)/1000 | daoji}}</span>
							</div>
							<div class="lists_images_rigth ">
								<img src="images/wode.png"  @click="godetai(item.id)"/>
								<span>{{item.count}}人报名</span>
							</div>
						</div>
						<div class="lists_images">
							<img src="images/42.png" />
						</div>
						<div class="lists_text clear">
							<div class="lists_text_left f-l">
								<!-- <p>期房在售</p> -->
								<p>{{item.is_onsale | getstate}}</p>
								<div class="lists_text_left_span clear">
									<div  class="f-l " v-for="you in item.youlie" style="margin-right: 0.2rem">
										<span >{{you}}</span>
									</div>
									<!--<span>品牌开发商</span>-->
								</div>
								<p>{{item.addr}}</p>
							</div>
							<div class="lists_text_right f-r">
								<p>{{item.price}}元/m²</p>
							</div>
						</div>
						<div class="lists_btn clear">
							<button class="f-l lists_btn_border">咨询电话</button>
							<button class="f-r" >参与报名</button>
							<!--onclick="window.location.href='mianfei-detail.html'"-->
						</div>
					</div>


					</div>

					<!--<div class="lists b-f">-->
						<!--<div class="lists_title">-->
							<!--<p>郑东新区-英协生生银河居</p>-->
						<!--</div>-->
						<!--<div class="lists_date clear">-->
							<!--<div class="lists_images_left ">-->
								<!--<img src="images/shijian.png" />-->
								<!--<span id="countdown">4天7小时32分54秒</span>-->
							<!--</div>-->
							<!--<div class="lists_images_rigth ">-->
								<!--<img src="images/wode.png" />-->
								<!--<span>300人报名</span>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="lists_images">-->
							<!--<img src="images/42.png" />-->
						<!--</div>-->
						<!--<div class="lists_text clear">-->
							<!--<div class="lists_text_left f-l">-->
								<!--<p>期房在售</p>-->
								<!--<div class="lists_text_left_span">-->
									<!--<span>银行</span>-->
									<!--<span>品牌开发商</span>-->
								<!--</div>-->
								<!--<p>熊儿河路与相济路交叉口东南角</p>-->
							<!--</div>-->
							<!--<div class="lists_text_right f-r">-->
								<!--<p>12500元/m²</p>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="lists_btn clear">-->
							<!--<button onclick="window.location.href='tel:10086'" class="f-l lists_btn_border">咨询电话</button>-->
							<!--<button class="f-r" onclick="window.location.href='mianfei-detail.html'">参与报名</button>-->
						<!--</div>-->
					<!--</div>-->
				</div>
			</div>
		</div>
	</body>
	<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>

	<script src="js/mui.pullToRefresh.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/mui.pullToRefresh.material.js" type="text/javascript" charset="utf-8"></script>

	<!--<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>-->
	<script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
	<script type="text/javascript">





		//FreshTime()
		var sh;



       // sh = setInterval(FreshTime, 1000);



        //  上拉加载
        var $fuwuitem = $('.pullrefresh .huikuan');
        mui.init({
            swipeBack: false,
            pullRefresh: {
                container: '.pullrefresh',
                up: {
                    height: 50,
                    contentrefresh: "正在加载...",
                    contentnomore: '没有更多数据了',
                    callback: pullupRefresh
                },
                down: {
                    height: 50,
                    callback: load
                }
            }
        });

        function load() {
            setTimeout(function() {
                window.location.reload();
            }, 500)

        };
        var cont = 0;

        function pullupRefresh() {
            cont++;
            //添加AJAX后要删除定时器

            mui('.pullrefresh').pullRefresh().endPullupToRefresh((cont == 2)); //参数为true代表没有更多数据了。
            var $elem = '<a href="xinfang-detail.html"><div class="lists clear"><div class="lists_left f-l"><img src="images/42.png" /></div><div class="lists_right f-r"><div class="lists_right_text1"><p>西湖春天 电梯小高层 1楼 南...</p></div><div class="lists_right_text2 clear"><span class="f-l">慧济-慧济区</span><span class="f-r"><em>9900</em>元/m²</span></div><div class="lists_right_text3"><span>三室两厅<em>116m²</em></span></div><div class="lists_right_text4 clear"><span class="f-l">品质小区</span></div></div></div></a>';
            $fuwuitem.append($elem);
            loading = true;

        }

        var vm =  new Vue({
            el:'#app',
			data:{
                url:'http://jd.zyeo.net/index.php/app/indexnewhouse/view_list',
				page:1,
				message:'hello',
				cur:10,
				dat:[],
				cont:0
			},

			methods:{

                godetai : function(index){
                    console.log(index)
					// window.location.href = 'mianfei-detail.html?id='+index
					// this.destory()
				},

                checksuccess:function (data) {
					if(data.code==200){
					    return true
					}else {
					    return false
					}
                },



				test:function(){
					console.log('sssss=====')
				},

				log:function(){
                    setInterval("ss",1000)
				},


				getData:function (type) {
                    var that = this;

                    switch (type){
						case 1:
						    that.page = 1
						    break
                        case 2:
                            that.page = 1
                            break
                        case 3:
                            ++that.page
                            break
					}

                    $.ajax({
                        url:that.url,
                        type:"post",
                        data:{
                            "page":that.page
                        },
                        datatype:"json",
                        success:function (data) {
                            var temp = JSON.parse(data)
							var time = new Date()
							//console.log(time.getMilliseconds())
                           // console.log(time.getMinutes())
                           // console.log(time.getSeconds())
                           // console.log(time.getTime())
							//this.cur = time.getMilliseconds()
                            //console.log(time.getMilliseconds())
                            //console.log(typeof temp.data)
                           console.log(data)
                            that.dat = temp.data
                        },
                        error:function () {
                            console.log("shiba")
                        }
                    })
                },



                freshTime :function (temp) {
					var endtime = new Date("2018/11/28"); //结束时间
					var nowtime = new Date(); //当前时间
					var lefttime = parseInt((endtime.getTime() - nowtime.getTime()) / 1000); // 剩余时间
					d = parseInt(lefttime / 3600 / 24);
					h = parseInt((lefttime / 3600) % 24);
					m = parseInt((lefttime / 60) % 60);
					s = parseInt(lefttime % 60);

					//.innerHTML = "剩余" + d + "天" + h + "小时" +m + "分" + s + "秒";
					//tt.innerText= "剩余" + d + "天" + h + "小时" +m + "分" + s + "秒"
					//console.log(tt)
					//temp.innerHTML= "剩余" + d + "天" + h + "小时" +m + "分" + s + "秒"
					//当时间结束时
					// if(lefttime <= 0) {
					// 	document.getElementById("countdown").innerHTML = "已结束";
					// 	clearInterval(sh);
					// }
					//console.log(this.dao[0])
				},


				shuatime:function () {
                    var that = this
                    setInterval(function () {
						// for(let i = 0;i<that.dat.length;i++){
						//     --that.
						// }
						++that.cur
                    },1000)

					// var tt= document.getElementsByClassName("countdown")
                    // for (let j =0 ;j<tt.length;j++){
					// 	setInterval(function () {
                     //        var endtime = new Date("2018/11/28"); //结束时间
                     //        var nowtime = new Date(); //当前时间
                     //        var lefttime = parseInt((endtime.getTime() - nowtime.getTime()) / 1000); // 剩余时间
                     //        d = parseInt(lefttime / 3600 / 24);
                     //        h = parseInt((lefttime / 3600) % 24);
                     //        m = parseInt((lefttime / 60) % 60);
                     //        s = parseInt(lefttime % 60);
                     //
                     //    },1000);
					// 	//dao.push(tt[j])
					// }
					// console.log(tt.length)


                    // var tt= document.getElementsByClassName("countdown")
                    // for (let j =0 ;j<tt.length;j++){
                    //     setInterval(function () {
                    //         var endtime = new Date("2018/11/28"); //结束时间
                    //         var nowtime = new Date(); //当前时间
                    //         var lefttime = parseInt((endtime.getTime() - nowtime.getTime()) / 1000); // 剩余时间
                    //         d = parseInt(lefttime / 3600 / 24);
                    //         h = parseInt((lefttime / 3600) % 24);
                    //         m = parseInt((lefttime / 60) % 60);
                    //         s = parseInt(lefttime % 60);
                    //
                    //     },1000);
                    //     //dao.push(tt[j])
                    // }
                    // console.log(tt.length)
                },


				load:function () {
				// setTimeout(function() {
				// 	window.location.reload();
				// }, 500)
				this.test()
				mui('.pullrefresh').pullRefresh().endPullupToRefresh(true);
       			 },
        //var cont = 0;

				pullupRefresh:function () {
					this.cont++;
					//添加AJAX后要删除定时器

					mui('.pullrefresh').pullRefresh().endPullupToRefresh((this.cont == 2)); //参数为true代表没有更多数据了。
					var $elem = '<a href="xinfang-detail.html"><div class="lists clear"><div class="lists_left f-l"><img src="images/42.png" /></div><div class="lists_right f-r"><div class="lists_right_text1"><p>西湖春天 电梯小高层 1楼 南...</p></div><div class="lists_right_text2 clear"><span class="f-l">慧济-慧济区</span><span class="f-r"><em>9900</em>元/m²</span></div><div class="lists_right_text3"><span>三室两厅<em>116m²</em></span></div><div class="lists_right_text4 clear"><span class="f-l">品质小区</span></div></div></div></a>';
					$fuwuitem.append($elem);
					loading = true;

					//this.test()
				}

			},



            filters: {
                daoji: function (value) {
                    if (!value) return ''
                    //value = value.toString()
                   // return value.charAt(0).toUpperCase() + value.slice(1)

                   // var endtime = new Date(); //结束时间
                    //var nowtime = new Date(); //当前时间
				//	console.log(value)
                    //var lefttime = parseInt((value - nowtime.getMilliseconds()/1000)); // 剩余时间
                    d = parseInt(value / 3600 / 24);
                    h = parseInt((value / 3600) % 24);
                    m = parseInt((value / 60) % 60);
                    s = parseInt(value % 60);
                    //console.log(value)
					//return "剩余" + d + "天" + h + "小时" +m + "分" + s + "秒"
					return value
                },

				getstate :function(value){
					// 不停刷新
					if (!value) return ''
					var message = ''
					switch(value){
						case '1':
							message = '期房未收'
						   break
						case '2':
							message = '期房在售'
						 	break
						case '3':
							message = '期房已售完'
						   break

					}
					//console.log("期房已售完"+value)
					return message
				}
            },


            created: function () {
                // console.log('调用了created钩子函数')
				this.getData(1)
				var tt = new Date().getTime()/1000
				//console.log(parseInt(tt))
				//tt.getTime.getData

				console.log(tt)
				this.cur = parseInt(tt)
				console.log(this.cur)

                // setInterval(function () {
                //     var tt = new Date().getTime()/1000
					// console.log(parseInt(tt))
                // },1000)

				var that =this
				var $fuwuitem = $('.pullrefresh .huikuan');
       			 mui.init({
            		swipeBack: false,
            		pullRefresh: {
                	container: '.pullrefresh',
               		 up: {
                   		 height: 50,
                    	contentrefresh: "正在加载...",
                   		 contentnomore: '没有更多数据了',
                    	callback: that.pullupRefresh
               		 },
                	down: {
                    	height: 50,
                   		callback: that.load
                }
            }
        });


            },


            mounted: function () {
                console.log('调用了mounted钩子函数')
                // var tt= document.getElementsByClassName("countdown")
                // for (let j =0 ;j<tt.length;j++){
                //     setInterval(this.freshTime(tt[j]), 1000);
                //
                // }
				setTimeout(this.shuatime,1000)

				$(".bbbb").click(function () {
					console.log("aaaaa")
                })
			}

		})


		// vm.log()



        // $(function () {
			//
        // })

	</script>

</html>