.banner {
	position: relative;
	width: 100%;
	height: 5.333333333rem;
}

.swiper-wrapper img {
	width: 100%;
	height:5.333333333rem;
}

.fanhui {
	width: 100%;
	position: absolute;
	top: 0.3rem;
	z-index: 10;
	padding: 0 0.4rem;
}

.fanhui img {
	width: 0.8rem;
	height: 0.8rem;
}
.fanhui img:nth-child(2){
	margin-left: 0.4rem;
}

/*详情内容*/
.detail_mess{
	padding: 0.2rem 0.5rem;
}
.detail_mess_title{
	margin-bottom: 0.1rem;
}
.detail_mess_title span:nth-child(1){
	font-size: 0.4rem;
}
.detail_mess_title span:nth-child(2){
	font-size: 0.37333333rem;
	color: #FEB630;
}
.detail_mess_money{
	color: #666666;
	font-size: 0.37333333rem;
	margin-bottom: 0.1rem;
}
.detail_mess_money em{
	display: inline-block;
	color: #FEB630;
	font-size: 0.4rem;
}
.lists_right_text4{
	margin-bottom: 0.2rem;
}
.lists_right_text4 span {
	border: 1px solid #FEB630;
	color: #FEB630;
	font-size: 0.32rem;
	padding: 0.02rem 0.2rem;
	text-align: center;
	border-radius: 2px;
	margin-right: 0.1rem;
}
.detail_mess_text{
	margin-bottom: 0.1rem;
}
.detail_mess_text span:nth-child(1){
	display: inline-block;
	color: #666666;
	font-size: 0.3733333rem;
}
.detail_mess_text span:nth-child(2){
	display: inline-block;
	width: 80%;
	color: #333333;
	font-size: 0.3733333rem;
	margin-left: 0.1rem;
}
.detail_mess_more{
	text-align: center;
    font-size: 0.32rem;
    color: #FEB630;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
.detail_mess_more span:nth-child(2) {
    font-size: 0.5rem;
}
.more_rows{
	display: none;
}
.more_rows div{
	margin-bottom: 0.15rem;
}
.more_rows div span:nth-child(1){
	display:inline-block;
	width: 20%;
	color: #666666;
	font-size: 0.37333333rem;
	text-align:right;
}
.more_rows div span:nth-child(2){
	display:inline-block;
	width: 70%;
	color: #333333;
	font-size: 0.3733333rem;
}
/*电话*/
.detail_phone{
	margin-top: 0.27rem;
	padding: 0.2rem 0.5rem;
}
.detail_phone img{
	width:0.43rem;
	height: 0.43rem;
}
.detail_phone_left p:nth-child(1){
	color: #FEB630;
	font-size: 0.533333333rem;
}
.detail_phone_left p:nth-child(2){
	color: #999999;
	font-size: 0.37333333rem;
	margin-top: 0.05rem;
}
/*列表轮盘*/
.house{
	margin-top: 0.27rem;
	padding: 0.2rem 0 0.2rem 0.5rem
}
.house_title{
	margin-bottom: 0.2rem;
	color: #999999;
	font-size: 0.32rem;
}
.buil_wrap_slide img{
	width: 100%;
	height:2.13333333rem;
}
.buil_wrap_slide p:nth-child(2){
	font-size: 0.37333333rem;
	color: #333333;
	margin-top: 0.2rem;
}
.buil_wrap_slide p:nth-child(3){
	font-size: 0.32rem;
	color: #999999;
	margin: 0.05rem 0;
}
.buil_wrap_slide p:nth-child(4){
	font-size: 0.32rem;
	color: #FEB630;
}
/*用户点评*/
.user{
	padding: 0.2rem 0.5rem;
	margin-top: 0.27rem;
	margin-bottom: 1.4rem;
}
.user_title{
	margin-bottom: 0.2rem;
	color: #999999;
	font-size: 0.32rem;
}
.user_lists{
	padding: 0.2rem 0;
	border-bottom: 1px solid #E4E4E4;
}
.user_lists:nth-child(3){
	border: none;
}
.user_lists_name img{
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
}
.user_lists_name span{
	font-size: 0.4rem;
	color: #333333;
	margin-top: 0.15rem;
	margin-left: 0.2rem;
}
.user_lists_mess{
	margin-top: 0.15rem;
}
.user_lists_mess p{
	color: #666666;
	font-size: 0.3733333rem;
	line-height: 0.5rem;
}
.btn_wrap{
	width: 100%;
}
.ping_btn{
	margin-top: 0.15rem;
	width: 90%;
	margin-left: 5%;
	border: 1px solid #00A2E9;
	text-align: center;
	font-size: 0.32rem;
	color: #00A2E9;
	line-height: 0.75rem;
}
/*底部按钮*/
.detail_bottom{
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index:10;
}
.detail_shou,.detail_gou,.detail_wei{
	display: inline-block;
	font-size:0.373333rem;
	padding: 0.43rem 0;
}
.detail_gou{
	padding: 0.44rem;
}
.detail_gou{
	width: 33.5%;
	text-align: center;
	background: #d33f3d;
	font-size: 0.3733333rem;
	color: white;
}
.detail_wei{
	width: 32%;
	background: #FEB630;
	text-align: center;
	color: white;
}
.detail_shou{
	width: 34.5%;
	text-align: center;
	background: #00A2E9;
	color:white;
}
.detail_shou img{
	display: inline-block;
	width: 0.4rem;
	height: 0.4rem;
}
.detail_gou img{
	display: inline-block;
	width: 0.4rem;
	height: 0.4rem;
}
.detail_wei img{
	display: inline-block;
	width: 0.4rem;
	height: 0.4rem;
}

/*置顶弹窗*/
.pay_wrap {
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 10000;
	position: fixed;
	top: 0;
}

.pay {
	width:75%;
	height: 4.2rem;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -37.5%;
	margin-top: -2.2rem;
	background: white;
	border-radius: 6px;
	padding-left: 30px;
	padding-right: 20px;
}

.pay_title {

}

.pay_title {
	font-size:0.32rem;
	color: #00a2e9;
	overflow: hidden;
	padding:0.25rem 0;
}

.pay_title span {
	float: left;
	margin-top: 0.05rem;
}

.pay_title img {
	float: right;
	cursor: pointer;
	width: 0.32rem;
	height: 0.32rem;
}
.pay1{
	margin-top: 0.3rem;
}
.pay1 input{
	border:1px solid #E4E4E4;
	font-size: 0.32rem !important;
	margin-bottom: 0.7rem;
}
.pay1 p:nth-child(2) {
	width:100%;
	margin: 0 auto;
	height: 0.8rem;
	line-height:0.8rem;
	text-align: center;
	background: #00A2E9;
	color: white;
	border-radius: 6px;
	cursor: pointer;
}