.mui-control-item {
	display: inline-block;
	position: relative;
}

.rows {
	position: absolute;
	z-index: 10000;
	background: white;
}

.nav {
	border-bottom: 1px solid #E4E4E4;
}

.nav_lists {
	display: inline-block;
	width: 32%;
	text-align: center;
	font-size: 0.32rem;
	color: #999999;
	line-height: 40px;
	position: relative;
}

.nav_lists_color {
	color: #00A2E9 !important;
}

.nav_lists:after {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 5px solid #999999;
	content: "";
	position: relative;
	width: 0;
	top: 0.25rem;
	left: 0.15rem;
}

.nav_lists_color:after {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 5px solid #00A2E9;
	content: "";
	position: relative;
	width: 0;
	top: 0.25rem;
	left: 0.15rem;
}

body,
html {
	width: 100%;
}

.cover {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 100000;
}

.rows {
	width: 100% !important;
	height: 4rem;
	overflow: scroll;
	background: white;
	border-top: 1px solid #E4E4E4;
}

.rows p {
	font-size: 0.32rem;
	width: 90%;
	margin: 0 auto;
	color: #666666;
	border-bottom: 1px solid #E4E4E4;
	line-height: 1rem;
}

.rows p:last-child {
	border: none;
}


/*列表*/

.huikuan {
	padding: 0 0.5rem;
}

.lists {
	padding: 0.25rem 0;
	border-bottom: 1px solid #E4E4E4;
}

.lists_left {
	width: 29.7%;
	height: 2rem;
}

.lists_left img {
	width: 100%;
	height: 2rem;
	display: block;
}

.lists_right {
	width: 67%;
	height: 2rem;
}

.lists_right_text1 {
	font-size: 0.4rem;
	margin-bottom: 0.12rem;
}

.lists_right_text2 {
	font-size: 0.32rem;
	color: #666666;
	margin-bottom: 0.02rem;
}

.lists_right_text2 span:nth-child(1) {
	margin-top: 0.06rem;
}

.lists_right_text2 span em {
	color: #FEB630;
	font-size: 0.4rem;
}

.lists_right_text3 {
	font-size: 0.32rem;
	color: #666666;
	margin-bottom: 0.1rem;
}

.lists_right_text3 span em {
	display: inline-block;
	margin-left: 0.1rem;
}

.lists_right_text4 span {
	border: 1px solid #FEB630;
	color: #FEB630;
	font-size: 0.32rem;
	padding: 0.02rem 0.2rem;
	text-align: center;
	border-radius: 2px;
	margin-right: 0.1rem;
}


/*类型2*/

.lists2 {
	padding: 0.25rem 0;
	border-bottom: 1px solid #E4E4E4;
}

.lists2_top span:nth-child(1) {
	font-size: 0.4rem;
}

.lists2_top span:nth-child(2) {
	font-size: 0.32rem;
	color: #666666;
	margin-top: 0.05rem;
	margin-left: 0.2rem;
}

.lists2_top span:nth-child(3) {
	font-size: 0.32rem;
	color: #666666;
}

.lists2_top span em {
	color: #FEB630;
	font-size: 0.4rem;
}

.lists2_cen {
	margin: 0.2rem 0;
}

.lists2_cen img {
	width: 32%;
	height: 2.1333333333rem;
}

.lists2_cen img:nth-child(2) {
	margin: 0 2%;
}

.lists2_bom p {
	font-size: 0.37333333rem;
	color: #666666;
}

.lists2_bom p em {
	display: inline-block;
	margin-left: 0.1rem;
}